@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.header-bar {
    background-color: black;
}

/*--------------------------------------------Header*/

.header-bar {
    height: 100px;
    width: 100%;
}